

.user_box{

    border: 2px solid rgba(33,30,12,0.29);
    width: 30px;
    height: 30px;
    margin: 10px;
    background: rgba(222,255,118,0.29);
    float: left;
}
.user_title{
    width: 4em;
    margin-left: 0.5em;
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-size: 3.5em;
}
.clear_div{
    clear: both;
    width: 100%;
}


.cursor_box{

    width:5px;
    height: 10px;
    position: absolute;
}

#my_toolbar
{
    width:1000%;
    height: 100%;
    min-height: 50px;
    background: #0F74A8;
}